{% extends 'base.html'%}

{% block content %}

<div class="container">  
    <div class="login">
        <h1>User Login</h1>
        <div class="imgcontainer">
            <img src="{{url_for('static', filename='images/sml.jpg')}}" alt="Avatar" class="avatar">
        </div>
        <form method="POST">
            {{ form.csrf_token }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.password.label }}
            {{ form.password }}

            {{ form.submit(class_="btn btn-primary btn-block btn-large")}}
        </form>
        <div>
            <a href="{{url_for('auth.register')}}">Register</a>
        </div> 
    </div>
</div>

{% block footer %}
{% include "footer.html" %}
{% endblock %}

{% endblock%}